@import "./normalize.css";
@import "./lenis.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

html {
	@apply bg-black text-white;
	min-height: 100%;
}

body {
	height: 100%;
	overflow-x: hidden;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	display: none;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	@apply bg-torch-red-base;
	border: none;
	border-radius: 50px;
	/* display: none; */
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-torch-red-base;
}

::-webkit-scrollbar-thumb:active {
	@apply bg-white;
}

::-webkit-scrollbar-track {
	@apply bg-black;
	border: none;
	/* display: none; */
}

::-webkit-scrollbar-track:hover {
	@apply bg-black;
}

::-webkit-scrollbar-corner {
	background: transparent;
	/* display: none; */
}

@font-face {
	font-family: DEN;
	src: url("./asdfasdf.ttf");
}